/* body {
    background: url("../images/CosmicConnectionsHomePage.png") no-repeat center fixed;
    transform: scale(0.95);
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
} */

.bg {
    position: fixed; 
    width: 100%; 
    height: 100%;
}
.bg img {
    position: fixed; 
    top: 0;
    left: 0; 
    right: 0; 
    bottom: 0; 
    margin: 0; 
    min-width: 50%;
    min-height: 50%;
    z-index: -1;
}

#monitor {
    position: fixed; 
    left: 22%;
    top: 20%;
    z-index: 1;
}
#monitor:hover {
    cursor: zoom-in;
    transform: scale(1.05);
}

#monitorLarge {
    position: fixed;
    left: 14%;
    top: 1%;

}

.monitorLarge {
    position: fixed;
    z-index: 3;
    height: 800px;
}

.iconMail {
    height: 200px;
    position: fixed;
    z-index: 3;
    left:42%;
    top:35%;
}

.iconCal {
    height: 220px;
    position: fixed;
    z-index: 3;
    left:60%;
    top:34%;
}


.iconPencil {
    height: 150px;
    position: fixed;
    z-index: 3;
    left:27%;
    top:37%;
}
